.container{
    margin: 50px auto;
    width: 500px;
    height: 400px;
    background-color: black;
}
label{
    width: 150px;
    color: white;
    margin: 25px 50px 25px 0px;
    font-size: 1.5rem;
}
input#feet {
    height: 40px;
    width: 200px;
    padding-left: 25px;
    margin-left: 20px;
    font-size: 1.5rem;
}
h1{
    text-align: center;
    color: white;
    padding-top: 50px;
}
label{
    padding-left: 30px;
}
#convert{
    background-color: red;
    border: none;
    color: white;
    width: 175px;
    padding: 10px 15px;
    line-height: 1.2rem;
    font-size: 1.2rem;
    text-align: center;
     margin: 0px 150px; 
    margin-left: 170px;
}
#output{
    color: yellow;
    font-size: 2rem;
    text-align: center;
    margin: 80PX 150px;
}